body {
  max-width: 980px;
  margin: 0 auto;
  background: #e6eff4; }

.registration {
  width: 100%; }
  .registration h1 {
    text-align: center;
    border-bottom: 2px solid #999;
    padding-bottom: 7px; }
  .registration .category {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around; }
    .registration .category .single-category {
      width: 32%;
      height: 150px;
      border: 2px solid #999;
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
      color: #158ed3;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      box-sizing: border-box;
      background: #fff;
      border-radius: 5px; }
      .registration .category .single-category p {
        width: 100%;
        text-align: center;
        margin: 0; }
      .registration .category .single-category .small {
        font-size: 16px;
        text-align: center; }
      .registration .category .single-category:hover {
        opacity: .7; }
    .registration .category .single-subcat {
      color: #000;
      height: 80px; }
    .registration .category .single-subcat.active {
      position: relative;
      border-color: #008000; }
      .registration .category .single-subcat.active:after {
        content: '';
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #008000;
        position: absolute;
        bottom: -50px;
        left: 0;
        background: url(../image/checked.svg) no-repeat center;
        background-size: 30px; }

.form-all {
  margin-top: 70px; }
  .form-all h2 {
    text-align: center;
    margin-bottom: 35px; }
  .form-all .title {
    width: 100%;
    text-align: center;
    text-decoration: underline; }
  .form-all .form-data {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex; }
    .form-all .form-data .left, .form-all .form-data .right {
      width: 50%; }
      .form-all .form-data .left label, .form-all .form-data .right label {
        width: 100%;
        margin-bottom: 15px;
        display: inline-block; }
        .form-all .form-data .left label span, .form-all .form-data .right label span {
          display: inline-block;
          width: 35%; }
        .form-all .form-data .left label input, .form-all .form-data .left label select, .form-all .form-data .right label input, .form-all .form-data .right label select {
          width: 50%;
          height: 32px;
          font-size: 13px;
          padding: 6px 0 4px 10px;
          border: 1px solid #cecece;
          background: #F6F6f6;
          border-radius: 8px;
          box-sizing: border-box; }
        .form-all .form-data .left label .error, .form-all .form-data .right label .error {
          border-color: #f00; }
        .form-all .form-data .left label .small, .form-all .form-data .right label .small {
          text-align: center;
          color: #f00;
          margin: 0;
          padding-left: 10px;
          padding-top: 5px; }
    .form-all .form-data .center {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      align-items: center; }
  .form-all .checkboxes {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form-all .checkboxes label {
      cursor: pointer; }
  .form-all .right {
    float: right; }
  .form-all .btn {
    width: 100px;
    height: 35px;
    text-align: center;
    cursor: pointer; }
  .form-all .spinner {
    padding-right: 15px;
    position: relative; }
    .form-all .spinner:after {
      content: '';
      width: 20px;
      height: 20px;
      margin-top: -10px;
      position: absolute;
      top: 50%;
      right: 5px;
      background: url(../image/spinner.gif) no-repeat center;
      background-size: 100%; }

.steps {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 40px 0;
  margin-bottom: 50px; }
  .steps .step {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    z-index: 2;
    position: relative; }
    .steps .step p {
      position: absolute;
      bottom: -40px;
      left: 3px; }
  .steps .line {
    position: absolute;
    width: 48%;
    background: #fff;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    left: 25px; }
    .steps .line.right {
      right: 25px;
      left: inherit; }
  .steps .step.active, .steps .line.active {
    background: #008000;
    transition: background .5s; }

.file {
  display: none; }

.error {
  color: #f00; }

.progress {
  display: inline-block;
  width: 315px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  vertical-align: middle; }

.del {
  vertical-align: middle;
  cursor: pointer; }

label {
  cursor: pointer; }

.load {
  position: absolute;
  height: 100%;
  background: #008000; }

.finish-step {
  text-align: center;
  border-top: 2px solid #999;
  margin-top: 40px; }
  .finish-step .rule {
    text-decoration: underline;
    cursor: pointer; }
  .finish-step label {
    cursor: pointer; }
  .finish-step .btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer; }

.good-reg {
  margin-top: 30px; }

.success {
  text-align: center;
  color: #008000;
  font-size: 18px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
  cursor: pointer; }

.send_message_popup {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 600px;
  min-height: 400px;
  background: #fff;
  z-index: 7;
  margin: 0 auto; }
  .send_message_popup .close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0px;
    display: inline-block;
    width: 40px;
    height: 40px; }
  .send_message_popup .head {
    width: 100%;
    height: 40px; }
    .send_message_popup .head h2 {
      color: #414141;
      line-height: 40px;
      padding-left: 2.5%;
      box-sizing: border-box; }

@media screen and (max-width: 980px) {
  body {
    margin: 0 25px; } }

@media screen and (max-width: 680px) {
  .registration .category {
    flex-wrap: wrap; }
    .registration .category .single-category {
      width: 70%;
      margin-bottom: 15px; }
    .registration .category .single-subcat {
      margin-bottom: 60px; }
  .form-all .checkboxes {
    flex-wrap: wrap;
    justify-content: flex-start; }
  .form-all .form-data {
    flex-wrap: wrap; }
    .form-all .form-data .left, .form-all .form-data .right {
      width: 100%; } }

@media screen and (max-width: 480px) {
  .registration .category {
    flex-wrap: wrap; }
    .registration .category .single-category {
      width: 90%;
      margin-bottom: 15px; }
  .form-all .form-data .left label input, .form-all .form-data .left label select, .form-all .form-data .right label input, .form-all .form-data .right label select {
    width: 60%; } }
