<template>
  <div class="home">
    <div class="nav right">
    <router-link v-bind:to="'register'">Регистрация</router-link>
      <a href="">Авторизация</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
