<template>
  <div class="registration">
      <h1>Регистрация</h1>
      <div class="steps">
        <div class="step" v-bind:class="{'active' : subcategory}">
          <p>Шаг 1</p>
        </div>
        <div class="line" v-bind:class="{'active' : subcategory}"></div>
        <div class="step" v-bind:class="{'active' : endStep}">
          <p>Шаг 2</p>
        </div>
        <div class="line right" v-bind:class="{'active' : endStep}"></div>
        <div class="step" v-bind:class="{'active' : goodReg}">
          <p>Шаг 3</p>
        </div>
      </div>
      <div v-if="!endStep">
        <div class="category" v-if="!subcategory">
          <div class="single-category" v-for="cat in category" v-on:click="getSubCategory(cat.id)">
            <p>{{cat.title}}</p>
            <span class="small">{{cat.description}}</span>
          </div>
        </div>

        <div class="category subcategory">
          <div class="single-category single-subcat" v-for="subcat in subcategory" v-bind:class="{'active' : checkedSubcat && checkedSubcat.id  == subcat.id}" v-on:click="checkSubcat(subcat)">{{subcat.title}}</div>
        </div>

        <form @submit.prevent="sendForm" class="form-all" v-if="checkedSubcat && checkedSubcat.type == 'private_persons'">
            <h2>Данные для входа в систему</h2>
            <div class="form-data auth-data">
              <div class="left">
                <label for="email-form">
                  <span>Email*</span>
                  <input type="email" id="email-form" v-model="private_persons.email"> 
                </label>
              </div>
              <div class="right">
                <label for="password-form">
                  <span>Пароль*</span>
                  <input type="password" id="password-form" v-bind:class="{'error' : errorList.password}" v-model="private_persons.password"> 
                  <p class="small" v-if="errorList.password">Пароли не совпадают</p>
                </label>
                <label for="repassword-form">
                  <span>Пароль еще раз*</span>
                  <input type="password" id="repassword-form" v-bind:class="{'error' : errorList.password}" v-model="private_persons.repassword"> 
                  <p class="small" v-if="errorList.password">Пароли не совпадают</p>
                </label>
              </div>
            </div>
            <p class="title">
              Контактные данные
            </p>

            <div class="form-data auth-data">
              <div class="left">
                <label for="fio-form">
                  <span>Ф.И.О*</span>
                  <input type="text" id="fio-form" v-model="private_persons.full_name"> 
                </label>
                <label for="phone-form">
                  <span>Контактный телефон*</span>
                  <input type="text" id="phone-form" v-model="private_persons.phone"> 
                </label>
              </div>
            </div>

            <p class="title">
              Направления
            </p>
            <div class="checkboxes">
              <label for="private-trend-1">
                <input type="checkbox" id="private-trend-1" name="trend">
                Выбрать все
              </label>
              <label for="private-trend-2">
                <input type="checkbox" id="private-trend-2" name="trend">
                Зерновые
              </label>
              <label for="private-trend-3">
                <input type="checkbox" id="private-trend-3" name="trend">
                Масличные
              </label>
              <label for="private-trend-4">
                <input type="checkbox" id="private-trend-4" name="trend">
                Бобовые
              </label>
              <label for="private-trend-5">
                <input type="checkbox" id="private-trend-5" name="trend">
                Продукты переработки
              </label>
              <label for="private-trend-6">
                <input type="checkbox" id="private-trend-6" name="trend">
                Бахчевые
              </label>
              <label for="private-trend-7">
                <input type="checkbox" id="private-trend-7" name="trend">
                Нишевые культуры
              </label>
            </div>

            <p class="title">Адрес</p>

            <div class="form-data auth-data">
              <div class="left">
                <label for="region-form">
                  <span>Область</span>
                  <select name="" id="region-form" v-model="private_persons.region">
                    <option value="">Город</option>
                  </select>
                </label>
                <label for="city-form">
                  <span>Населенный пункт</span>
                  <input type="text" id="city-form" v-model="private_persons.city"> 
                </label>
              </div>

              <div class="right">
                <label for="street-form">
                  <span>Улица</span>
                  <input type="text" id="street-form" v-model="private_persons.street"> 
                </label>
                <label for="house-form">
                  <span>Дом</span>
                  <input type="text" id="house-form" v-model="private_persons.house"> 
                </label>
                <label for="flat-form">
                  <span>Квартира</span>
                  <input type="text" id="flat-form" v-model="private_persons.flat"> 
                </label>
              </div>
            </div>

          <button class="right btn" v-bind:class="{'spinner' : spinner == 'private_persons'}" :disabled="!private_persons.email || !private_persons.password || !private_persons.full_name || !private_persons.phone">Далее</button>

        </form>


        <form @submit.prevent="sendForm" class="form-all" v-if="checkedSubcat && checkedSubcat.type == 'businessmans'">
            <h2>Данные для входа в систему</h2>
            <div class="form-data auth-data">
              <div class="left">
                <label for="email-form">
                  <span>ИНН*</span>
                  <input type="number" id="email-form" v-model="businessmans.INN"> 
                </label>
              </div>
              <div class="right">
                <label for="password-form">
                  <span>Пароль*</span>
                  <input type="password" id="password-form" v-bind:class="{'error' : errorList.password}" v-model="businessmans.password"> 
                  <p class="small" v-if="errorList.password">Пароли не совпадают</p>
                </label>
                <label for="repassword-form">
                  <span>Пароль еще раз*</span>
                  <input type="password" id="repassword-form" v-bind:class="{'error' : errorList.password}" v-model="businessmans.repassword"> 
                  <p class="small" v-if="errorList.password">Пароли не совпадают</p>
                </label>
              </div>
            </div>
            <p class="title">
              Контактные данные
            </p>

            <div class="form-data auth-data">
              <div class="left">
                <label for="fio-form">
                  <span>Наименование Ф.Л.П*</span>
                  <input type="text" id="fio-form" v-model="businessmans.name"> 
                </label>
                <label for="phone-form">
                  <span>Ф.И.О контактного лица*</span>
                  <input type="text" id="phone-form" v-model="businessmans.contact_person"> 
                </label>
              </div>
              <div class="right">
                <label for="fio-form">
                  <span>Контактный телефон*</span>
                  <input type="text" id="fio-form" v-model="businessmans.phone"> 
                </label>
                <label for="phone-form">
                  <span>Email*</span>
                  <input type="email" id="phone-form" v-model="businessmans.email"> 
                </label>
              </div>
            </div>

            <div class="form-data">
              <div class="center">
                <p>Плательщик ПДВ</p>
                <label> <input type="radio" name="VAT" v-model="businessmans.VAT" :value="1"> Да </label>
                <label> <input type="radio" name="VAT" v-model="businessmans.VAT" :value="0"> Нет </label>
              </div>
            </div>

            <p class="title">
              Направления
            </p>
            <div class="checkboxes">
              <label for="business-trand-1">
                <input type="checkbox" id="business-trand-1" name="trend">
                Выбрать все
              </label>
              <label for="business-trand-2">
                <input type="checkbox" id="business-trand-2" name="trend">
                Зерновые
              </label>
              <label for="business-trand-3">
                <input type="checkbox" id="business-trand-3" name="trend">
                Масличные
              </label>
              <label for="business-trand-4">
                <input type="checkbox" id="business-trand-4" name="trend">
                Бобовые
              </label>
              <label for="business-trand-5">
                <input type="checkbox" id="business-trand-5" name="trend">
                Продукты переработки
              </label>
              <label for="business-trand-6">
                <input type="checkbox" id="business-trand-6" name="trend">
                Бахчевые
              </label>
              <label for="business-trand-7">
                <input type="checkbox" id="business-trand-7" name="trend">
                Нишевые культуры
              </label>
            </div>

            <p class="title">Адрес</p>

            <div class="form-data auth-data">
              <div class="left">
                <label for="region-form">
                  <span>Область</span>
                  <select name="" id="region-form" v-model="businessmans.region">
                    <option value="">Город</option>
                  </select>
                </label>
                <label for="city-form">
                  <span>Населенный пункт</span>
                  <input type="text" id="city-form" v-model="businessmans.city"> 
                </label>
              </div>

              <div class="right">
                <label for="street-form">
                  <span>Улица</span>
                  <input type="text" id="street-form" v-model="businessmans.street"> 
                </label>
                <label for="house-form">
                  <span>Дом</span>
                  <input type="text" id="house-form" v-model="businessmans.house"> 
                </label>
                <label for="flat-form">
                  <span>Квартира</span>
                  <input type="text" id="flat-form" v-model="businessmans.flat"> 
                </label>
              </div>
            </div>

          <button class="right btn" v-bind:class="{'spinner' : spinner == 'businessmans'}" :disabled="!businessmans.INN || !businessmans.password || !businessmans.name || !businessmans.phone || !businessmans.email || !businessmans.contact_person">Далее</button>

        </form>


        <form @submit.prevent="sendForm" class="form-all" v-if="checkedSubcat && checkedSubcat.type == 'organizations'">
            <h2>Данные для входа в систему</h2>
            <div class="form-data auth-data">
              <div class="left">
                <label for="email-form">
                  <span>ЕДРПОУ*</span>
                  <input type="number" id="email-form" v-model="organizations.EDRPOU"> 
                </label>
              </div>
              <div class="right">
                <label for="password-form">
                  <span>Пароль*</span>
                  <input type="password" id="password-form" v-bind:class="{'error' : errorList.password}" v-model="organizations.password"> 
                  <p class="small" v-if="errorList.password">Пароли не совпадают</p>
                </label>
                <label for="repassword-form">
                  <span>Пароль еще раз*</span>
                  <input type="password" id="repassword-form" v-bind:class="{'error' : errorList.password}" v-model="organizations.repassword"> 
                  <p class="small" v-if="errorList.password">Пароли не совпадают</p>
                </label>
              </div>
            </div>
            <p class="title">
              Контактные данные
            </p>

            <div class="form-data auth-data">
              <div class="left">
                <label for="fio-form">
                  <span>Организация*</span>
                  <input type="text" id="fio-form" v-model="organizations.name"> 
                </label>
                <label for="fio-contact-form">
                  <span>Ф.И.О директора*</span>
                  <input type="text" id="fio-contact-form" v-model="organizations.principal"> 
                </label>
                <label for="fio-contact-form">
                  <span>Ф.И.О контактного лица*</span>
                  <input type="text" id="fio-contact-form" v-model="organizations.contact_person"> 
                </label>
              </div>
              <div class="right">
                <label for="fio-form">
                  <span>Контактный телефон*</span>
                  <input type="text" id="fio-form" v-model="organizations.phone"> 
                </label>
                <label for="phone-form">
                  <span>Email*</span>
                  <input type="text" id="phone-form" v-model="organizations.email"> 
                </label>
              </div>
            </div>

            <div class="form-data">
              <div class="center">
                <p>Плательщик ПДВ</p>
                <label> <input type="radio" name="VAT" v-model="organizations.VAT" :value="1"> Да </label>
                <label> <input type="radio" name="VAT" v-model="organizations.VAT" :value="0"> Нет </label>
              </div>
            </div>


            <p class="title">
              Направления
            </p>
            <div class="checkboxes">
              <label for="organizations-trend-1">
                <input type="checkbox" id="organizations-trend-1" name="trend">
                Выбрать все
              </label>
              <label for="organizations-trend-2">
                <input type="checkbox" id="organizations-trend-2" name="trend">
                Зерновые
              </label>
              <label for="organizations-trend-3">
                <input type="checkbox" id="organizations-trend-3" name="trend">
                Масличные
              </label>
              <label for="organizations-trend-4">
                <input type="checkbox" id="organizations-trend-4" name="trend">
                Бобовые
              </label>
              <label for="organizations-trend-5">
                <input type="checkbox" id="organizations-trend-5" name="trend">
                Продукты переработки
              </label>
              <label for="organizations-trend-6">
                <input type="checkbox" id="organizations-trend-6" name="trend">
                Бахчевые
              </label>
              <label for="organizations-trend-7">
                <input type="checkbox" id="organizations-trend-7" name="trend">
                Нишевые культуры
              </label>
            </div>

            <p class="title">Адрес</p>

            <div class="form-data auth-data">
              <div class="left">
                <label for="region-form">
                  <span>Область</span>
                  <select name="" id="region-form" v-model="organizations.region">
                    <option value="">Город</option>
                  </select>
                </label>
                <label for="city-form">
                  <span>Населенный пункт</span>
                  <input type="text" id="city-form" v-model="organizations.city"> 
                </label>
              </div>

              <div class="right">
                <label for="street-form">
                  <span>Улица</span>
                  <input type="text" id="street-form" v-model="organizations.street"> 
                </label>
                <label for="house-form">
                  <span>Дом</span>
                  <input type="text" id="house-form" v-model="organizations.house"> 
                </label>
                <label for="flat-form">
                  <span>Квартира</span>
                  <input type="text" id="flat-form" v-model="organizations.flat"> 
                </label>
              </div>
            </div>

          <button class="right btn" v-bind:class="{'spinner' : spinner == 'organizations'}" :disabled="!organizations.principal || !organizations.EDRPOU || !organizations.password || !organizations.name || !organizations.phone || !organizations.email || !organizations.contact_person">Далее</button>

        </form>
        
      </div>

      <div class="end-step" v-if="endStep && !goodReg">
        <div class="load-files" v-if="checkedSubcat && checkedSubcat.type !== 'private_persons'">
          <p>Для ускорения процедуры подтверждения регистрации, Вы можете загрузить скан-копию Вашего свидетельства о регистрации (первая страница)</p>
          <input type="file" class="file" id="file-load-nonprivate" v-on:change="loadFile">
          <label for="file-load-nonprivate">
            Прикрепить файл
          </label>
          <div class="file-info" v-if="file">
            <span class="name">{{file.name}}</span>
            <span class="size">{{(file.size / 1000) + 'kb'}}</span>
            <p class="progress">
              <span class="load" :style="{'width' : fileProgress + '%'}"></span>
            </p>
            <span class="del" v-on:click="deleteFile()">x</span>
          </div>
          <p class="error" v-if="errorList.maxSize">Максимальный объем файла 5МБ</p>
        </div>
        <div class="load-files" v-if="checkedSubcat && checkedSubcat.type == 'private_persons'">
          <p>Для ускорения процедуры подтверждения регистрации, Вы можете загрузить скан-копию Вашего паспорта (первая страница)</p>
          <input type="file" class="file" id="file-load-private" v-on:change="loadFile">
          <label for="file-load-private">
            Прикрепить файл
          </label>
          <div class="file-info" v-if="file">
            <span class="name">{{file.name}}</span>
            <span class="size">{{(file.size / 1000) + 'kb'}}</span>
            <p class="progress">
              <span class="load" :style="{'width' : fileProgress + '%'}"></span>
            </p>
            <span class="del" v-on:click="deleteFile()">x</span>
          </div>
          <p class="error" v-if="errorList.maxSize">Максимальный объем файла 5МБ</p>
        </div>

        <div class="finish-step">
          <p class="rule" v-on:click="openModal()">Положение о сотрудничестве с</p>

          <label for="agree-rule">
            <input type="checkbox" v-model="agreeRule" id="agree-rule">
            Я принимаю условия о сотрудничестве с
          </label>

          <!-- <img src="./captcha.php" alt=""> -->
          <button class="btn" :disabled="!agreeRule" v-on:click="goodReg = true">Регистрция</button>
        </div>
      </div>
      <div class="good-reg" v-if="goodReg">
        <p v-if="file !== null">
          Спасибо за регистрацию на торгово-трейдерной площадке.
          Ваша заявка будет проверена администрацией сайта, после чего Вам придет уведомление на электронный адрес
        </p>
        <p v-if="file == null">
          Спасибо за регистрацию на торгово-трейдерной площадке.
          Ваша заявка будет утверждена после звонка оператора
        </p>
        <p class="success">
          Успешных Вам сделок на сервисе
        </p>
      </div>
      <div class="send_message_popup" v-if="showModal"> 
        <div class="content_clock">
          <span class="close" @click="showModal = false">X</span>
            <div class="head">
              <h2>Положение о сотрудничестве</h2>
            </div>
            <div class="main">
              
            </div>
          </div>
      </div>
      <div class="overlay" v-show="showModal" @click="closePopup()"></div>
  </div>
</template>

<script type="text/babel">
export default {
  name: 'registration',
  data () {
    return {
      category: null,
      subcategory: null,
      checkedSubcat: null,
      spinner: '',
      endStep: false,
      file: null,
      fileProgress: 0,
      agreeRule: false,
      showModal: false,
      goodReg: false,
      errorList: {
        password: false,
        maxSize: false,
      },
      private_persons: {
        email: '',
        password: '',
        full_name: '',
        phone: '',
        region: '',
        city: '',
        street: '',
        house: '',
        flat: ''
      },
      organizations: {
        EDRPOU: '',
        password: '',
        name: '',
        principal: '',
        contact_person: '',
        phone: '',
        email: '',
        VAT: '',
        region: '',
        city: '',
        street: '',
        house: '',
        flat: ''
      },
      businessmans: {
        INN: '',
        password: '',
        name: '',
        contact_person: '',
        phone: '',
        email: '',
        VAT: '',
        region: '',
        city: '',
        street: '',
        house: '',
        flat: ''
      }
    }
  },

  created(){
    this.getCategory();
  },
  
  methods: {
    getCategory(){
        this.$http.get('/backend/api.php?action=getcategorys').then((response) => {
          this.category = response.data;
        }, (err) => {
        });
    },
    getSubCategory(id){
        this.$http.get('/backend/api.php?action=getsubcategorys&id=' + id).then((response) => {
          this.subcategory = response.data;
        }, (err) => {
        });
    },
    checkSubcat(subcategory){
        this.checkedSubcat = subcategory;
        this.errorList.password = false;
    },
    sendForm(){
      if(this.$data[this.checkedSubcat.type].password !== this.$data[this.checkedSubcat.type].repassword){
        this.errorList.password = true;
        return;
      }
      this.$data[this.checkedSubcat.type].type = this.checkedSubcat.type;
      this.$data[this.checkedSubcat.type].action = 'registration_form';
      this.spinner = this.$data[this.checkedSubcat.type].type;
      this.$http.post('/backend/api.php', this.$data[this.checkedSubcat.type]).then((response) => {
          this.spinner = '';
          this.endStep = true;
          for(let key in this.$data[this.checkedSubcat.type]){
            this.$data[this.checkedSubcat.type][key] = '';
          }
        }, (err) => {
            this.spinner = '';
        });
    },
    loadFile(e){
      // console.log(e);
      if(e.target.files[0].size >= 5000000){
        this.errorList.maxSize = true;
        return;
      }
      this.file = e.target.files[0];
      this.errorList.maxSize = false;
      this.fileProgress = 0;
      let data = new FormData();
      data.append('action', 'file_load');
      data.append('files', e.target.files[0]);
      let vm = this;
      this.$http.post('/backend/api.php', data, {
                      progress(e) {
                          if (e.lengthComputable) {
                            vm.fileProgress = e.loaded / e.total * 100;
                            console.log(e.loaded / e.total * 100);
                          }
                      }});
    },
    deleteFile(){
      this.file = null;
    },
    openModal(){
        this.showModal = true;
    },
    closePopup(){
      this.showModal = false;
    }
  }
}
</script>
